.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 8vh;
  width: 4vw;
  border-radius: 50vw;
  cursor: pointer;
}
.container h1 {
  margin-top: 80px;
}
.Buttons {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.circle img {
  filter: invert(1);
  height: 50px;
}
.circle:hover {
  background-color: rgb(66, 63, 15);
}

.Custom-Design {
  width: 70vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  gap: 10px;
}
.NewsItem {
  border: 2px solid black;
  width: 20vw;
  height: 51vh;
}
.NewsItem .card {
  height: 50vh;
}
.NewsItem .card img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
.card .card-body {
  height: 20vh;
}
.card-text {
  overflow: hidden;
  height: 10vh;
}
.card .card-title {
  overflow: hidden;
  height: 10vh;
}

@media screen and (max-width: 600px) {
  .Custom-Design {
    grid-template-columns: 20vw;
  }
  .NewsItem {
    width: 90vw;
    height: 55vh;
  }
  .NewsItem .card {
    height: 54vh;
  }

  .circle {
    height: 7vh;
    width: 13vw;
  }
}
